@if $IS_RASPBERRY_PI == 1 or $IS_RASPBERRY_PI == true{
  html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    touch-action: none;

    body {
      transform-origin: 0 0;
      transform-style: preserve-3d;
      transform: rotate3d(0, 0, 1, -90deg);

      margin: var(--gap-body-top)
        var(--gap-body-right)
        var(--gap-body-bottom)
        var(--gap-body-left);
      position: absolute;
      top: calc(100% - var(--gap-body-right) - var(--gap-body-left));
      left: 0;

      height: calc(100vw - var(--gap-body-right) - var(--gap-body-left));
      width: calc(100vh - var(--gap-body-top) - var(--gap-body-bottom));
    }
  }
}

.newsfeed {
  font-size: 0.5em;
}

.MMM-PIR-sensor * {
  transition: 1s color linear;
}
